@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
  /*CSS Code*/
   /* background: #49796B;*/
    padding: 20px;
    background: #8A9A5B;
    color: white;
    text-align: center;
    font-family: 'Roboto' , sans-serif;
}

h1 {
  font-size: large;
}
p {
  font-size: small;
}
a {
  text-decoration: none;
  color: white
}
.profile-img {
  width: 50%;
  border-radius: 50%;
}
.btn {
  display: block;
  color: black;
  padding: 20px;
  background: white;
  margin: 16px;
  box-shadow: 10px 10px lightblue;
}
